<div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
        <img style="width: 150px; margin-left: 70px" src="../../../assets/img/Richcore-Logo.png" alt="logo">
        <h4 align=center style="color:cornsilk; margin-left: 380px; font-size: 40px; font-weight: 700; letter-spacing: 5px">ADMIN PANEL</h4>
    </nav>
</div>

<form [formGroup]="form" (submit)="onAddLocation()">
    <div class="form-group">
        <label for="location1">Location 1</label>
        <textarea class="form-control" id="location1" name="location1" rows="3" class="form-control" formControlName="location1"></textarea>
    </div>
    <div class="form-group">
        <label for="location2">Location 2</label>
        <textarea class="form-control" id="location2" name="location2" rows="3" class="form-control" formControlName="location2"></textarea>
    </div>
    <div class="form-group">
        <label for="location3">Location 3</label>
        <textarea class="form-control" id="location3" name="location3" rows="3" class="form-control" formControlName="location3"></textarea>
    </div>
    <div class="form-row m-3 justify-content-center">
        <button type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">Add Location</button>
    </div>
</form>