<div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
        <img style="width: 150px; margin-left: 70px" src="../../../assets/img/Richcore-Logo.png" alt="logo">
        <h4 align=center style="color:cornsilk; margin-left: 380px; font-size: 40px; font-weight: 700; letter-spacing: 5px">ADMIN PANEL</h4>
    </nav>

</div>
<app-admin-dashboard></app-admin-dashboard>

<div class="container">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="location10">ADD NEW LOCATION</label>
            <input rows="1" type="text" required class="form-control" id="location10" name="location1" class="form-control" formControlName="location1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location2" name="location2" class="form-control" formControlName="location2">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location3" name="location3" class="form-control" formControlName="location3">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location4" name="location4" class="form-control" formControlName="location4">
        </div>
        <div class="form-row m-3 justify-content-center">
            <button (click)="onAddLocation()" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">ADD LOCATION</button>
        </div>
    </form>
</div>

<div class="container" *ngFor=" let i of locationDisplay">

    <form [formGroup]="form" *ngFor="let j of i;let k = index">
        <div class="form-group">
            <label for="location{{k}}">Location {{k+1}}</label>
            <input type="text" required class="form-control" id="location{{k}}" name="location1" class="form-control" formControlName="location1" value="{{j.location1}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location2" name="location{{k}}" class="form-control" formControlName="location2" value="{{j.location2}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location3" name="location{{k}}" class="form-control" formControlName="location3" value="{{j.location3}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="location4" name="location{{k}}" class="form-control" formControlName="location4" value="{{j.location4}}">
        </div>
        <div class="form-row m-3 justify-content-center">
            <button (click)="onUpdateLocation(j._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE LOCATION {{k+1}}</button>
            <button (click)="onDeleteLocation(j._id)" type="submit" class="btn btn-lg text-white ml-3" style="background-color: midnightblue">DELETE LOCATION {{k+1}}</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <h2 class="mb-5">Other Office Locations</h2>
    </div>
    <div class="row mb-5" *ngFor=" let i of locationDisplay">
        <div class="col" *ngFor=" let j of i">

            <p>{{j.location1}}</p>
            <p>{{j.location2}}</p>
            <p>{{j.location3}}</p>
            <p>{{j.location4}}</p>

        </div>
    </div>
</div>