<nav class="navbar navbar-expand-lg navbar-light open-sans font-weight-bold p-1">
    <a (click)="navtohome()" class="navbar-brand" style="cursor: pointer;"><img src="../../assets/img/Richcore-Logo-Green.png" alt="RICHCORE" width="130" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto justify-content-end" routerLinkActive="active">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="products">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a (click)="navtoabout()" class="nav-link" routerLink="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-3 mr-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Send us your mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="input-group-text back-blue" id="basic-addon2">Send</button>
                </div>
            </div>
        </form>
    </div>
</nav>