.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: black;
    text-align: justify;
    cursor: pointer;
}

.open-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    border-top: 3px solid #d8ecff;
}

.fontsize12 {
    font-size: 15px;
}

.fontweigth900 {
    font-weight: 900;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        margin-left: 0% !important;
        margin-right: 0% !important;
        margin-bottom: 0% !important;
    }
    ul,
    li {
        padding: 0;
    }
}