<div class="container-fluid mt-5">
    <div class="jumbotron open-sans" style="margin-left:100px; margin-right:100px; margin-top:50px; margin-bottom:50px; background-color: white;">
        <div class="row">
            <div class="col-md-4 footerLogos">
                <h1 class="fmb-3 fontsize12 fontweigth900" style="margin-left: 2%;">RICHCORE LIFESCIENCES PVT LTD</h1>
                    <div style="margin-top:20px;" class="row logogs">
                            <img src="../../assets/img/logosrichcore.png" alt="" height="80px" width="310px">
                        </div>
                <p class="" style="font-size: 14.5px; margin-top:20px;">Copyright Platform Inc. All Rights Reserved</p>
                <a href="https://drive.google.com/file/d/1ANCGGMm4zGdkDpY5JWc74QNht1RCzL8r/view?usp=sharing" target="_blank">Privacy Policy</a>
            </div>
            <div class="col-md-4">
                <ul class="list" style="text-align: center;">
                    <li class="mb-3 fontsize12">
                        <a [routerLink]="['/']" class="boldbottom">Home</a>        
                    </li>
                    <li class="mb-3 fontsize12">
                        <a [routerLink]="['/products']" class="boldbottom">Products</a>    
                    </li>
                    <li class="mb-3 fontsize12">
                        <a [routerLink]="['/about']" class="boldbottom">About Us</a>            
                    </li>
                    <li class="fontsize12">
                        <a [routerLink]="['/contact']" class="boldbottom">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footerAddress">
                    <a href="https://goo.gl/maps/ybPzJdEBEBEc43ey5" class="fontsize12" target="_blank" style="margin-bottom: 0px; color: black">
                        Plot No. 204 and 237,<br>Bommasandra-Jigani Link Road,<br>K.I.A.D.B Industrial Area,<br>Bengaluru-560105, Karnataka<br>
                    </a>
                    <a href="https://goo.gl/maps/ybPzJdEBEBEc43ey5" target="_blank" style="margin-top: -20px; color: #45a6b1">Locate Us</a>
                    <p class="fontsize12">Phone : +91-8110-419777<br>Telefax : +91-80-27839574</p>
                </div>
            </div>

        </div>
    </div>
</div>