.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: black;
    text-align: justify;
}

.open-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    border-top: 3px solid #d8ecff;
}

.fontsize12{
    font-size: 15px;
}

.fontweigth900{
    font-weight: 900;
}

.footerAddress{
    text-align: right;
}


.footerLogos{
    text-align: left;
}

.logogs{
    margin-left: -20px;
}

.boldbottom{
    font-weight: 550;
}


@media only screen and (max-width: 768px) {
    .footerAddress{
        text-align: center;
    }

    .footerLogos{
        text-align: center;
    }

    .logogs{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .logogs{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 450px) {
    .logogs{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        margin-left: 0% !important;
        margin-right: 0% !important;
        margin-bottom: 0% !important;
    }
    ul, li {
        padding: 0;
    }
}