<div class="jumbotron open-sans" style="background-color: white;">
    <div class="row">
        <div class="col-md-5">
            <h1 class="fmb-3 fontsize12 fontweigth900">RICHCORE LIFESCIENCES PVT LTD</h1>
            <p class="mb-3 fontsize12">We develop novel enzymatic solutions for industrial biotechnology and Animal Origin Free recombiant proteins and enzymes for Biopharma.</p>
            <p class="fontsize12">Copyright Platform Inc. All Rights Reserved</p>
        </div>
        <div class="col-md-4">
            <ul class="list">
                <li class="mb-3 fontsize12"><a href="#">Products</a></li>
                <li class="mb-3 fontsize12"><a href="#">Careers</a></li>
                <li class="mb-3 fontsize12">
                    <a (click)="navtoabout()">About Us</a></li>
                <li class="fontsize12"><a (click)=" navtocontact() ">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <address class="fontsize12">
                  Plot No. 204 and 237,<br>Bommasandra-Jigani Link Road,<br>K.I.A.D.B Industrial Area,<br>Bengaluru-560105, Karnataka
            </address>
            <p class="fontsize12">Phone : +91-8110-419777<br>Telefax : +91-80-27839574</p>
        </div>
    </div>
</div>