<div class="container my-5">
    <ngx-spinner></ngx-spinner>
    <div class="row">
        <h3 class="arialfont" style="font-weight: 600;">Proteins</h3>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light rounded my-4 bordergray">
            <button id="navbtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav nav-tabs justify-content" style="border-bottom: 0.2px solid #e9ecef; width: 100%;">
                    <div *ngFor="let i of protiens; let j = index">
                        <li *ngIf="j == 0"  id="tab{{j}}" [style.width.px]="275"  style="margin-top: 20px; align-content: center; text-align: center;font-size: 14.5px;" class="ltab activeTab" (click)="setToActive(j)">
                            <a class="nav-link aactiveTab" id="atab{{j}}" [routerLink]="['/products-info', i._id, j]" >{{i.proteinName}}</a>
                            <span class="sr-only">(current)</span>
                        </li>
                        <li *ngIf="j != 0" id="tab{{j}}" [style.width.px]="275" style="margin-top: 20px; align-content: center; text-align: center;font-size: 14.5px;" class="ltab nactiveTab" (click)="setToActive(j)">
                            <a class="nav-link anactiveTab" id="atab{{j}}" [routerLink]="['/products-info', i._id, j]" >{{i.proteinName}}</a>
                            <span class="sr-only">(current)</span>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <p> </p>
    </div>
    <div class="row">
            <p> </p>
        </div>
    <div class="row my-2" *ngIf="product != null || product != undefined">
        <div class="col">
            <p class="typojustify"><b style="font-size: 20px;">{{product.proteinName}}</b>, {{product.proteinDescription}}</p>
        </div>
    </div>
    <div class="row my-1" *ngIf="product != null || product != undefined">
            <!-- <div class="row"> -->
                    <nav class="navbar navbar-expand-lg navbar-light rounded my-4 bordergray">
                        <button id="typebtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdowns" aria-controls="navbarNavDropdowns" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdowns">
                            <ul class="nav nav-tabs justify-content" style="border-bottom: 0.2px solid #e9ecef; width: 100%;">
                                <li id="lpowder-tab" class="nav-item ltab" (mouseenter)="addblueBorder('lpowder-tab')" style="align-content: center; text-align: center; width: 200px;"  *ngIf="product.powder.ppApplication.length != 0">
                                    <a class="nav-link powdercss colorblack"  id="powder-tab" data-toggle="tab" href="#powder" role="tab" aria-controls="powder" aria-selected="false">Powder</a>
                                </li>
                                <li id="lliquid-tab" class="nav-item ltab" (mouseenter)="addblueBorder('lliquid-tab')" style="align-content: center; text-align: center; width: 200px;" *ngIf="product.liquid.plApplication.length != 0">
                                    <a class="nav-link active liquidcss colorblack"  id="liquid-tab" data-toggle="tab" href="#liquid" role="tab" aria-controls="liquid" aria-selected="true">Liquid</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                <!-- </div> -->
    </div>
    
    <div class="container-fluid tab-content my-3" id="myTabContent" *ngIf="product != null || product != undefined">
            
        <div class="my-2 tab-pane fade" *ngIf="product.powder.ppApplication.length != 0" id="powder" role="tabpanel" aria-labelledby="powder-tab">
            <div class="row">
                <div class="col-md-7">
                    <!-- <h3 class="open-sans mt-2">Powder</h3> -->
                    <p class="open-sans mt-2 font1rem fontw600">Applications</p>
                    <ul>
                        <li *ngFor=" let i of product.powder.ppApplication">
                            {{i}}
                        </li>
                    </ul>
                    <h4 class="open-sans mt-2 font1rem fontw600" style="margin-top: 50px;">Advantages</h4>
                    <ul>
                        <li *ngFor=" let i of product.powder.ppAdvantages">
                            {{i}}
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 my-2">
                    <img [src]="product.powder.ppimagePath" alt="" width="400px" height="200px">
                    <div class="d-flex justify-content-around mt-3">
                        <button routerLink="/contact"  class="btn richcoreColorBackground whiteColor rounded" style="width: 40%;">Know More</button>
                        <!-- <button class="btn btn-primary rounded" style="width: 40%;">Technical Details</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="my-2 tab-pane fade show active" *ngIf="product.liquid.plApplication.length != 0" id="liquid" role="tabpanel" aria-labelledby="liquid-tab">
            <div class="row">
                <div class="col-md-7">
                    <!-- <h3 class="open-sans mt-2">Liquid</h3> -->
                    <h4 class="open-sans mt-2 font1rem fontw600">Applications</h4>
                    <ul>
                        <li *ngFor=" let i of product.liquid.plApplication">
                            {{i}}
                        </li>
                    </ul>
                    <h4 class="open-sans mt-2 font1rem fontw600">Advantages</h4>
                    <ul>
                        <li *ngFor=" let i of product.liquid.plAdvantages">
                            {{i}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 my-2">
                    <img [src]="product.liquid.plimagePath" alt="" width="400px" height="200px">
                    <div class="d-flex justify-content-around mt-3">
                        <button routerLink="/contact"  class="btn richcoreColorBackground whiteColor rounded" style="width: 40%;">Know More</button>
                        <!-- <button class="btn btn-primary rounded" style="width: 40%;">Technical Details</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>