<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-5">Why Us?</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-3 ">
            <i class="fa fa-user"></i>
            <h3>Quality</h3>
        </div>
        <div class="col-3">
            <i class="fa fa-star"></i>
            <h3>Innovation</h3>
        </div>
        <div class="col-3">
            <i class="fa fa-star"></i>
            <h3>Facility</h3>
        </div>
        <div class="col-3">
            <i class="fa fa-star"></i>
            <h3>Location</h3>
        </div>
    </div>
</div>