.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
    color: #000000;
    background-color: #ffffff;
    border-bottom: 4px solid #45a6b1;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    cursor: pointer;
}

.margin60bottom{
    margin-bottom: 60px;
}

.fontsize15px{
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav-link {
        margin: 2rem 2rem;
    }
    .container h1 {
        margin-top: 2rem;
        margin-bottom: 0rem !important;
    }
}