<div class="container text-center" id="contain">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Why Us?</h1>
        </div>
    </div>
    <ul class="row nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
        <li class="nav-item col-md-3">
            <div class="nav-link" id="pills-quality-tab" data-toggle="tab" href="#pills-quality" role="tab" aria-controls="pills-quality" aria-selected="true">
                <img style="margin-top:-60px; margin-left: -35px;" src="../../../assets/img/Path.png" width="70px" height="70px" />
                <i class="fa fa-thumbs-o-up fa-2x" style="margin-left: -50px;" aria-hidden="true"></i>
                <p class="h3">Quality</p>
            </div>
        </li>
        <li class="nav-item col-md-3">
            <div class="nav-link" id="pills-innovation-tab" data-toggle="tab" href="#pills-innovation" role="tab" aria-controls="pills-innovation" aria-selected="false">
                <img style="margin-top:-60px; margin-left: -35px;" src="../../../assets/img/Path.png" width="70px" height="70px" />
                <i class="fa fa-lightbulb-o fa-2x" style="margin-left: -50px;" aria-hidden="true"></i>
                <p class="h3">Innovation</p>
            </div>
        </li>
        <li class="nav-item col-md-3">
            <div class="nav-link" id="pills-facility-tab" data-toggle="tab" href="#pills-facility" role="tab" aria-controls="pills-facility" aria-selected="false">
                <img style="margin-top:-60px; margin-left: -35px;" src="../../../assets/img/Path.png" width="70px" height="70px" />
                <i class="fa fa-star-o fa-2x" style="margin-left: -50px;" aria-hidden="true"></i>
                <p class="h3">Facility</p>
            </div>
        </li>
        <li class="nav-item col-md-3">
            <div class="nav-link" id="pills-location-tab" data-toggle="tab" href="#pills-location" role="tab" aria-controls="pills-location" aria-selected="false">
                <img style="margin-top:-60px; margin-left: -35px;" src="../../../assets/img/Path.png" width="70px" height="70px" />
                <i class="fa fa-map-marker fa-2x" style="margin-left: -50px;" aria-hidden="true"></i>
                <p class="h3">Location</p>
            </div>
        </li>
    </ul>
    <div class="tab-content well my-5 pb-5" id="pills-tabContent" *ngFor="let i of whyusInfoDisplay">
        <div class="tab-pane fade lead" id="pills-quality" role="tabpanel" aria-labelledby="pills-quality-tab" style="max-width: 85%;">
            <p style="margin-left: 15%;">{{i.quality}}</p>
        </div>
        <div class="tab-pane fade lead" id="pills-innovation" role="tabpanel" aria-labelledby="pills-innovation-tab" style="max-width: 85%;">
            <p style="margin-left: 15%;">{{i.innovation}}</p>
        </div>
        <div class="tab-pane fade lead" id="pills-facility" role="tabpanel" aria-labelledby="pills-facility-tab" style="max-width: 85%;">
            <p style="margin-left: 15%;">{{i.facility}}</p>
        </div>
        <div class="tab-pane fade lead" id="pills-location" role="tabpanel" aria-labelledby="pills-location-tab" style="max-width: 85%;">
            <p style="margin-left: 15%;">{{i.location}}</p>
        </div>
    </div>
</div>