<div class="container">
    <div class="row">
        <div class="col">
            <!-- <app-protein-menu></app-protein-menu> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="form" *ngFor=" let i of productInfoDisplay">
                <h3>UPDATE PROTEIN</h3>
                <div class="form-group" *ngFor="let j of i">
                    <label for="exampleInputEmail1">{{j.protein.proteinName}}</label>
                    <input type="email" class="form-control" formControlName="productName" placeholder="NEW PROTEIN NAME">
                    <textarea class="form-control mt-2" name="productDescription" cols="100" rows="10" formControlName="productDescription" value={{j.protein.proteinDescription}}>{{j.protein.proteinDescription}}</textarea>
                    <button (click)="onUpdateProductName(j._id)" class="btn btn-primary mt-2">UPDATE</button>
                </div>
            </form>
        </div>
    </div>
</div>