<app-header></app-header>
<div class="jumbotron text-lg-left open-sans mb-5 bg-col">
    <h1 class="font-weight-bold pb-5 pad-b">ABOUT US</h1>
    <h3 class="font-weight-bolder pt-3">WE ARE AN INNOVATION LED BIOTECHNOLOGY COMPANY</h3>
    <p class="pt-3">We develop novel enzymatic solutions for Industrial Biotechnology and Animal Origin Free recombinant proteins and enzymes for Biopharma. Richcore is venture and PE investment backed, and has multiple patent filings, and a high capacity GMP certified manufacturing plant. Its solutions are used in the global food, water, energy, and biopharma industries. At the root of its innovation is the vision and commitment to create cleaner, greener and sustainable solutions to tackle the current industrial problems. Richcore's corporate goals are aligned with the goals of the society at large to achieve meaningful economic development. Richcore intrinsically believes that doing well happens by doing good!</p>
</div>

<div class="jumbotron open-sans" style="background-color: white;">
    <h3 class="font-weight-bolder pb-5">OUR JOURNEY SO FAR</h3>
    <div class="d-flex justify-content-center">
        <img src="../../../assets/img/History.png" class="img-fluid" alt="History">
    </div>
    
</div>

<div class="jumbotron mt-5 open-sans bg-col">
    <h1 class="font-weight-bold pb-5 text-center">OUR LEADERSHIP</h1>
    <div class="row mt-5">
        <div class="col-lg-4" style="position: relative">
            <div class="img-testimonial d-flex justify-content-center" style="position: absolute;left:50%;transform: translate(-50%,-50%)">
                <img src="../../../assets/img/subbu.jpeg" alt="" height="100" width="100" class="rounded-circle">
            </div>
            <div class="testimonial-content mb-sm-3 m-lg-0 pt-5 pb-3 px-3 rounded shadow bg-white">
                <div class="testimonial-heading d-flex flex-column justify-content-start mt-3 text-center">
                    <h4 class="m-0 font-weight-bold" style="font-size: 1.2rem">SUBBRAMANI RAMACHANDRAPPA</h4>
                    <h6 class="text-muted" style="font-size: 1rem">( Chairman & Managing Director )</h6>
                </div>
                <blockquote class="p-3 text-center">Subramani leads the innovation efforts at Richcore, developing novel recombinant proteins and enzymes that are targeted to conserve food, water, energy and health. He has filed more than 16 patents in these areas. He is an engineer and MBA from ISB (Indian School of Business: a Kellog, Wharton & LBS program), and he actively contributes towards entrepreneurship development and innovation as a speaker and panellist in forums across several countries.</blockquote>
            </div>
        </div>
        <div class="col-lg-4" style="position: relative">
            <div class="img-testimonial mt-sm-5 m-lg-0 d-flex justify-content-center" style="position: absolute;left:50%;transform: translate(-50%,-50%);margin-top: 4rem;">
                <img src="../../../assets/img/subbu.jpeg" alt="" height="100" width="100" class="rounded-circle">

            </div>
            <div class="testimonial-content mt-sm-5 m-lg-0 pt-5 pb-3 px-3 rounded shadow bg-white" style="margin-top: 4rem;">
                <div class="testimonial-heading d-flex flex-column justify-content-start mt-3 text-center">
                    <h4 class="m-0 font-weight-bold" style="font-size: 1.2rem">SUBBRAMANI RAMACHANDRAPPA</h4>
                    <h6 class="text-muted" style="font-size: 1rem">( Chairman & Managing Director )</h6>
                </div>
                <blockquote class="p-3 text-center">Subramani leads the innovation efforts at Richcore, developing novel recombinant proteins and enzymes that are targeted to conserve food, water, energy and health. He has filed more than 16 patents in these areas. He is an engineer and MBA from ISB (Indian School of Business: a Kellog, Wharton & LBS program), and he actively contributes towards entrepreneurship development and innovation as a speaker and panellist in forums across several countries.</blockquote>
            </div>
        </div>
        <div class="col-lg-4" style="position: relative">
            <div class="img-testimonial mt-sm-5 m-lg-0 d-flex justify-content-center" style="position: absolute;left:50%;transform: translate(-50%,-50%);margin-top: 4rem;">
                <img src="../../../assets/img/subbu.jpeg" alt="" height="100" width="100" class="rounded-circle">
            </div>
            <div class="testimonial-content mt-sm-5 m-lg-0 pt-5 pb-3 px-3 rounded shadow bg-white" style="margin-top: 4rem;">
                <div class="testimonial-heading d-flex flex-column justify-content-start mt-3 text-center">
                    <h4 class="m-0 font-weight-bold" style="font-size: 1.2rem">SUBBRAMANI RAMACHANDRAPPA</h4>
                    <h6 class="text-muted" style="font-size: 1rem">( Chairman & Managing Director )</h6>
                </div>
                <blockquote class="p-3 text-center">Subramani leads the innovation efforts at Richcore, developing novel recombinant proteins and enzymes that are targeted to conserve food, water, energy and health. He has filed more than 16 patents in these areas. He is an engineer and MBA from ISB (Indian School of Business: a Kellog, Wharton & LBS program), and he actively contributes towards entrepreneurship development and innovation as a speaker and panellist in forums across several countries.</blockquote>
            </div>
        </div>
    </div>
</div>