<div class="jumbotron open-sans" style="margin-left:150px; margin-right:150px; margin-bottom:50px; background-color: white;">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="display-4 m-5" style="font-family: arial;  font-size: 2rem; color:#636363">Contact Us</h2>
        </div>
    </div>
    <div class="row shadow mb-5 ">
        <div class="col-lg-8 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="row form-heading d-flex py-5 px-4">
                        <div class="col-md-10">
                            <h2 style="font-family: arial; font-size: 1.5rem;">Send us a message</h2>
                        </div>
                        <div class="col-md-2" style="float:left;">
                            <img src="../../../assets/img/message.png" width="80px" height="80px" />
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="form">
                <ngx-spinner id="headerMailer" name="headerMailer" type="ball-spin" size="medium" [fullScreen]="false"></ngx-spinner>
                <div class="form-row px-4 ">
                    <div class="form-group col-md-6 pr-3 ">
                        <label for="inputEmail4 ">Your Name</label>
                        <input name="userName" type="text " class="form-control " id="inputName " formControlName="userName" placeholder=" ">
                    </div>
                    <div class="form-group col-md-6 pl-3 ">
                        <label for="inputPassword4 ">Email Address</label>
                        <input name="userMail" type="email " class="form-control " id="inputEmail " formControlName="userMail" placeholder=" ">
                    </div>
                </div>
                <div class="form-row px-4 my-3 ">
                    <div class="form-group col-md-6 pr-3 ">
                        <label for="inputEmail4 ">Phone Number</label>
                        <input name="userNum" type="number " class="form-control " id="inputPhone " formControlName="userNum" placeholder=" ">
                    </div>
                    <div class="form-group col-md-6 pl-3 ">
                        <label for="inputPassword4 ">Company Name</label>
                        <input name="userCompany" type="text " class="form-control " id="inputcompany " formControlName="userCompany" placeholder=" ">
                    </div>
                </div>
                <div class="form-group px-4 ">
                    <label for="inputAddress">Message</label>
                    <textarea rows="5" class="form-control" id="inputMessage" placeholder="Hi, Do you have a moment to talk?"></textarea>
                </div>
                <div class="submit-btn px-3">
                    <button type="submit" (click)="sendMail()" class="mx-4 py-3 px-4" style="border:none; border-radius: 50%; margin-top: -65px; position: absolute;right: 0; width: 80px; height: 80px;">
                        <!-- <i class="fa fa-paper-plane fa-2x  py-1"></i> -->
                        <img src="../../../assets/img/send.png" style="border:none; border-radius: 50%; margin-top: -40px; position: absolute;right: 0; width: 80px; height: 80px;" />
                    </button>
                </div>

            </form>
        </div>
        <div class="col-lg-4 richcoreColorBackground d-flex flex-column justify-content-around contact-info">
            <div class="row">
                <div class="offset-1 col-11">
                    <p class="text-white mt-0" style="font-size: 25px;">Contact Information</p>
                </div>
            </div>
            <div class="row d-flex align-items-center idk" style="height:50px;">
                <a class="offset-1 col-md-2 text-white" href="https://goo.gl/maps/ybPzJdEBEBEc43ey5" target="_blank">
                    <img src="../../../assets/img/location.png" width="30px" height="30px" />
                </a>
                <div class="col-md-9">
                    <a class="text-white m-0 addr" style="font-size:12px;font-family: arial; color: black" href="https://goo.gl/maps/ybPzJdEBEBEc43ey5" target="_blank" >
                        Plot No. 204 and 237,<br>Bommasandra-Jigani Link Road,<br>K.I.A.D.B Industrial Area,<br>Bengaluru-560105, Karnataka<br>
                    </a>
                </div>
            </div>
            <div class="row d-flex align-items-center idk">
                <div class="offset-1 col-md-2 text-white">
                    <img src="../../../assets/img/phonecall.png" width="30px" height="30px" />
                </div>
                <div class="col-md-9 text-white" style="font-size:12px;">
                    <p>Phone : +91-8110-419777<br>Telefax : +91-80-27839574</p>
                </div>
            </div>
            <div class="row d-flex align-items-center idk">
                <div class="offset-1 col-md-2 text-white">
                    <img src="../../../assets/img/mail.png" width="30px" height="30px" />
                </div>
                <div class="col-md-9 text-white" style="font-size:12px;">
                    <a href="mailto:info@richcoreindia.com" class="whiteColor">info@richcoreindia.com</a>
                    <br><a href="mailto:hr@richcoreindia.com" class="whiteColor">hr@richcoreindia.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <h2 class="mb-5" style="font-size: 1.5rem;">Other Locations</h2>
    </div>
    <div class="row mb-5 " *ngFor=" let i of locationDisplay ">
        <div class="col " *ngFor=" let j of i ">
            <a href="https://goo.gl/maps/4M9rj2HV5vNHto9v8" target="_blank" style="color:black">
                {{j.location1}}<br>
                {{j.location2}}<br>
                {{j.location3}}<br>
                {{j.location4}}<br>
            </a>
            <a href="https://goo.gl/maps/4M9rj2HV5vNHto9v8" target="_blank" class="richcoreColor">Locate Us</a>
        </div>
    </div>

</div>