<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="display-4 m-5">Contact Us</h2>
        </div>
    </div>
    <div class="row shadow mb-5">
        <div class="col-lg-8 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="form-heading d-flex py-5 px-4">
                        <h2>Send us a message</h2>
                        <i class="fa fa-envelope fa-3x ml-auto text-primary"></i>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-row px-4">
                    <div class="form-group col-md-6 pr-3">
                        <label for="inputEmail4">Your Name</label>
                        <input name="userName" type="text" class="form-control" id="inputName" placeholder="">
                    </div>
                    <div class="form-group  col-md-6 pl-3">
                        <label for="inputPassword4">Email Address</label>
                        <input name="userMail" type="email" class="form-control" id="inputEmail" placeholder="">
                    </div>
                </div>
                <div class="form-row px-4 my-3">
                    <div class="form-group col-md-6 pr-3">
                        <label for="inputEmail4">Phone Number</label>
                        <input name="userNum" type="number" class="form-control" id="inputPhone" placeholder="">
                    </div>
                    <div class="form-group col-md-6 pl-3">
                        <label for="inputPassword4">Company Name</label>
                        <input name="userCompany" type="text" class="form-control" id="inputcompany" placeholder="">
                    </div>
                </div>
                <div class="form-group px-4">
                    <label for="inputAddress">Message</label>
                    <textarea rows="5" class="form-control" id="inputMessage" placeholder="Hi,Do you have a moment to talk?"></textarea>
                    <button type="submit" class="btn btn-primary mx-4 py-3 px-4" style="border-radius: 50%;margin-top: -35px;position: absolute;right: 0;"><i class="fa fa-paper-plane fa-2x  py-1"></i></button>

                </div>

            </form>
        </div>
        <div class="col-lg-4 bg-primary d-flex flex-column justify-content-around">
            <div class="row">
                <div class="offset-1 col-11">
                    <h2 class="text-white mt-2">Contact Information</h2>
                </div>
            </div>
            <div class="row  d-flex align-items-center">
                <div class="offset-1 col-md-2 text-white">
                    <i class="fa fa-map-marker fa-4x"></i>

                </div>
                <div class="col-md-9">
                    <address class="text-white m-0">
                        Plot No. 204 and 237,<br>Bommasandra-Jigani Link Road,<br>K.I.A.D.B Industrial Area,<br>Bengaluru-560105, Karnataka
                    </address>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="offset-1 col-md-2 text-white">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-md-9 text-white">
                    <p>Phone : +91-8110-419777<br>Telefax : +91-80-27839574</p>
                </div>
            </div>
            <div class="row  d-flex align-items-center">
                <div class="offset-1 col-md-2 text-white">
                    <i class="fa fa-envelope fa-2x"></i>
                </div>
                <div class="col-md-9 text-white">
                    <p>info@richcoreindia.com<br>hr@richcoreindia.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="mb-5">Other Office Locations</h2>
    </div>
    <div class="row mb-5" *ngFor=" let i of locationDisplay">
        <div class="col" *ngFor=" let j of i">

            <p>{{j.location1}}</p>
            <p>{{j.location2}}</p>
            <p>{{j.location3}}</p>
            <p>{{j.location4}}</p>

        </div>
    </div>

</div>