<div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
        <img style="width: 150px; margin-left: 70px" src="../../../assets/img/Richcore-Logo.png" alt="logo">
        <h4 align=center style="color:cornsilk; margin-left: 380px; font-size: 40px; font-weight: 700; letter-spacing: 5px">ADMIN PANEL</h4>
    </nav>
</div>

<app-admin-dashboard></app-admin-dashboard>
<div class="container">

    <form (submit)="onAddInfo(homeForm)" [formGroup]="form">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">ADD HOME INFO</label>
            <textarea name="data" required class="form-control " id="exampleFormControlTextarea1" rows="3" formControlName="infoText"></textarea>
        </div>
        <div class="form-row m-3 justify-content-center">
            <button type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">Add Info</button>
        </div>
    </form>
</div>