<!-- <app-header></app-header> -->
<!-- <div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: midnightblue">
        <img style="width: 150px; margin-left: 70px" src="../../../assets/img/Richcore-Logo.png" alt="logo">
        <h4 align=center style="color:cornsilk; margin-left: 380px; font-size: 40px; font-weight: 700; letter-spacing: 5px">ADMIN PANEL</h4>
    </nav>
</div> -->

<app-admin-dashboard></app-admin-dashboard>
<div class="container">

    <form>
        <div class="image-preview" *ngIf="imagePreview != '' && imagePreview && form.get('image').valid ">
            <img [src]="imagePreview" alt="Banner image 1">
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile" required (change)="onImagePicked($event)">
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
        </div>
        <div class="form-row m-3 justify-content-center">
            <button (click)="onAddImage()" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPLOAD IMAGE</button>
        </div>
    </form>


    <div class="d-flex test">
        <div class="row">
            <div class="col-4" *ngFor="let i of imagePathInfoDisplay ">
                <img src="{{i.imagePath}}" alt="" height="400" width="350">
                <div class="form-row m-3 justify-content-center">
                    <button (click)="onUpdateImage(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue;width: 70rem">UPDATE IMAGE</button>
                    <button (click)="onDeleteImage(i._id)" type="submit" class="btn btn-lg text-white mt-2" style="background-color: midnightblue;width: 70rem">DELETE IMAGE</button>
                </div>
            </div>
        </div>
    </div>





    <div *ngFor=" let i of homeInfoDisplay">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="infoText">ADD HOME INFO</label>
                <textarea name="data" required class="form-control " id="infoText" rows="5" formControlName="infoText" value="{{i.data}}"></textarea>
            </div>
            <div class="form-row m-3 justify-content-center">
                <button (click)="onUpdateInfo(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE HOME INFO</button>
            </div>
        </form>

        <div class="jumbotron" style="background-color: white;">
            <p class="open-sans text-center">{{i.data}}</p>
        </div>
    </div>


    <!-- FORM TO ADD WHY US DATA -->

    <form [formGroup]="form">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputQuality1" formControlName="qualityText" placeholder="QUALITY INFO">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputInnovation1" formControlName="innovationText" placeholder="INNOVATION INFO">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputFacility1" formControlName="facilityText" placeholder="FACILITY INFO">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputLocation1" formControlName="locationText" placeholder="LOCATION INFO">
        </div>
        <button (click)="onAddWhyUsInfo()" class="btn btn-primary">ADD DATA</button>
    </form>









    <form [formGroup]="form">
        <div *ngFor="let i of whyusInfoDisplay">
            <div class="form-group">
                <label for="exampleFormControlTextarea2">ADD QUALITY INFO</label>
                <textarea name="quality" required class="form-control " id="exampleFormControlTextarea2" rows="3" formControlName="qualityText" value="{{i.quality}}"></textarea>
            </div>
            <div class="form-row m-3 justify-content-center">
                <button (click)="onUpdateWhyUsQualityInfo(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE QUALITY INFO</button>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea3">ADD INNOVATION INFO</label>
                <textarea name="innovation" required class="form-control " id="exampleFormControlTextarea3" rows="3" formControlName="innovationText" value="{{i.innovation}}"></textarea>
            </div>
            <div class="form-row m-3 justify-content-center">
                <button (click)="onUpdateWhyUsInnovationInfo(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE INNOVATION INFO</button>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea4">ADD FACILITY INFO</label>
                <textarea name="facility" required class="form-control " id="exampleFormControlTextarea4" rows="3" formControlName="facilityText" value="{{i.facility}}"></textarea>
            </div>
            <div class="form-row m-3 justify-content-center">
                <button (click)="onUpdateWhyUsFacilityInfo(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE FACILITY INFO</button>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea5">ADD LOCATION INFO</label>
                <textarea name="location" required class="form-control " id="exampleFormControlTextarea5" rows="3" formControlName="locationText" value="{{i.location}}"></textarea>
            </div>
            <div class="form-row m-3 justify-content-center">
                <button (click)="onUpdateWhyUsLocationInfo(i._id)" type="submit" class="btn btn-lg text-white" style="background-color: midnightblue">UPDATE LOCATION INFO</button>
            </div>
        </div>
    </form>
</div>

<app-why-us></app-why-us>