.banner {
    background-image: url(../../assets/img/AOF_2_child_vaccine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35rem;
}