<div class="jumbotron jumbotron-fluid banner">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-6">
                <h1 class="display-4">ANIMAL ORIGIN FREE</h1>
                <p class="lead">RECOMBIANT PROTEIN</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control " placeholder="Send us your mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info" id="basic-addon2">Send</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>