<div id="myCarousel" class="carousel slide carousel-slide" data-ride="carousel" data-interval="3000">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active ad2">
            <div class="ad2 relative-div">

            </div>
        </div>


        <div class="carousel-item ad1" *ngFor="let i of imagePathInfoDisplay">
            <div class="ad1 relative-div" [ngStyle]="{'background-image':'linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(' + i + ')'}"></div>
        </div>
        <div class="row fixed-div" style="height: 30rem; z-index: 2; position: absolute; top: 0px; left: 0px;">
            <div class="d-flex flex-column justify-content-center col-md-8 text-center mt-5">
                <h1 class="display-4 assistant p-3">NON ANIMAL ORIGIN</h1>
                <h3 class="assistant p-3">RECOMBINANT PROTEIN</h3>
                <div class="row p-3">
                    <!-- <div class="offset-md-3 col-md-6 input-group mb-3">
                        <input type="text" class="form-control " placeholder="Enter your work mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="input-group-text back-blue" id="basic-addon2">Know More</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="introText" style="margin-left:150px; margin-right:150px; margin-top:50px; margin-bottom:50px; background-color: white;">
    <!-- <p class="typojustify">We develop novel enzymatic solutions for Industrial Biotechnology and Animal Origin Free recombinant proteins and enzymes for Biopharma. Richcore is venture and PE investment backed, and has multiple patent filings, and a high capacity GMP certified
        manufacturing plant. Its solutions are used in the global food, water, energy, and biopharma industries. At the root of its innovation is the vision and commitment to create cleaner, greener and sustainable solutions to tackle the current industrial
        problems. Richcore's corporate goals are aligned with the goals of the society at large to achieve meaningful economic development. Richcore intrinsically believes that doing well happens by doing good!</p> -->

    <p class="typojustify" style="text-align: center;">We develop novel ‘Non Animal Origin’ recombinant proteins including media components, reagents, excipients and drug products that enhance safety, consistency, traceability and competitiveness for Stem Cells & Regenerative Medicine, Vaccines & Biological Drugs, Cultured Meat and Bio-Manufacturing industries</p> 
</div>



<app-why-us></app-why-us>