#myCarousel {
    width: 100%;
}

.carousel-control {
    margin-top: 20px;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 35rem;
}

.ad1 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.ad2 {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../../assets/img/AOF_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-size: cover;
}

.assistant {
    font-family: sans-serif;
    letter-spacing: 2px !important;
    color: white;
    font-weight: 200
}

.back-blue {
    background-color: #3399ff !important;
    color: white !important;
    cursor: pointer;
}

.open-sans {
    font-family: Arial, Helvetica, sans-serif;
}

.fixed-div {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media only screen and (max-width: 768px) {
    .introText {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    .carousel-item h3 {
        font-size: 1.5rem;
    }
}