<div class="container my-5">
    <div class="row">
        <div class="col">
            <h3 class="arialfont">PROTEINS</h3>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <p class="arialfont typojustify">HelloLorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, rerum, sint dolorum ipsum ipsa repellendus corporis a consequatur ratione, amet incidunt assumenda ut fugiat recusandae magni veniam temporibus qui officia? Eligendi velit
                id facilis tenetur rerum dolorem assumenda, voluptas corrupti, asperiores, inventore odio aperiam hic. Quia soluta nihil excepturi delectus.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, rerum, sint dolorum ipsum ipsa
                repellendus corporis a consequatur ratione, amet incidunt assumenda ut fugiat recusandae magni veniam temporibus qui officia? Eligendi velit id facilis tenetur rerum dolorem assumenda, voluptas corrupti, asperiores, inventore odio aperiam
                hic. Quia soluta nihil excepturi delectus.</p>
        </div>
    </div>
    <div class="row">
        <div class="container col-12">
            <img src="../../../../assets/img/slide1.jpg" alt="">
        </div>
    </div>
    <app-protein-menu></app-protein-menu>
</div>

<app-growthfactor></app-growthfactor>