<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded my-4 text-white">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-around " style="width: 100%" *ngFor=" let i of productInfoDisplay">
            <li class="nav-item active" *ngFor=" let j of i">
                <a *ngIf="j.protein.proteinName" class="nav-link text-white" (click)="navToProductsInfo(j._id)">{{j.protein.proteinName}} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div> -->
    <div class="container-fluid">
        <div class="row text-center" style="width: 100%" *ngFor=" let i of productInfoDisplay">

            <div class="col text-center" *ngFor=" let j of i">
                <a class="nav-link" (click)="navToProductsInfo(j._id)">{{j.protein.proteinName}}</a>
            </div>

        </div>
    </div>
</nav>